{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
</br>
</br>
</br>
</br>
</br>
    <h1>Créer un Service</h1>

    {{ include('admin_service/_form.html.twig') }}

    <a href="{{ path('app_admin_service_index') }}">Retour à la liste</a>
{% endblock %}
