{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<style>
    .example-wrapper {margin: auto 1rem; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; position: relative; top: 200px; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans l'Espace Administration! ✅</h1></br>
    
    <ul>
        <li><a href="{{ path('app_admin_service_index') }}" class="btn btn-primary">Accéder à la page Admin/Service</a></li></br>
        <li><a href="{{ path('app_admin_cars_index') }}" class="btn btn-primary">Accéder à la page Admin/Cars</a></li></br>
        <li><a href="{{ path('app_admin_comment_index') }}" class="btn btn-primary">Accéder à la page Admin/Comment</a></li></br>
    </ul>
</div>
{% endblock %}
