<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Rejoignez-nous sur les réseaux sociaux :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/"target="_blank" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.com/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.github.com/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Horaires d'ouverture
          </h6>
          <p>Lundi : 09h00-12h00 / 13h00-17h00 </p>
          <p>Mardi : 10h00-12h00 / 13h30-20h00 </p>
          <p>Mercredi : 08h00-12h00 / 13h00-18h00 </p>
          <p>Jeudi : 08h00-12h00 / 13h00-18h00 </p>
          <p>Vendredi : 08h00-12h00 / 13h00-18h00 </p>
          <p>Samedi : 08h00-12h00 / 13h00-18h00 </p>
          <p>dimanche : Fermé &#9746;</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Services
          </h6>
          <p>
            <a href="#!" class="text-reset">Entretien</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Réparations</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Voitures d'occasion</a>
          </p>
      
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Engagements
          </h6>
          <p>
            <a href="#!" class="text-reset">Qualité et rapidité</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tarifs préférentiels</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Certifié par l'Etat</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Conseils personnalisés</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> 34 Rue des Lois, Toulouse 31000</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            VincentParrot@free.fr
          </p>
          <p><i class="fas fa-phone me-3"></i> + 0130297577 &#9990;</p>
          <p><i class="fas fa-print me-3"></i> + 0130297577</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Garage VParrot</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


{#<p>Lundi : 09h00-12h00 / 13h00-17h00 </p>
<p>Mardi : 10h00-12h00 / 13h30-20h00 </p>
<p>Mercredi : 08h00-12h00 / 13h00-18h00 </p>
<p>Jeudi : 08h00-12h00 / 13h00-18h00 </p>
<p>Vendredi : 08h00-12h00 / 13h00-18h00 </p>
<p>Samedi : 08h00-12h00 / 13h00-18h00 </p>
<p>dimanche : Fermé </p>#}
