<main>
<div class="adapt" id="adapt">
    <div class="dummy-adapt">
        <h2 id="adapt-title">Entretien</h2>
        <p><b>Bienvenue au Garage Automobile Vincent Parrot situé sur la commune de Toulouse.</b></p></br>
<p>Fort de nos 15 années d'expérience, nous sommes en mesure de prendre en charge votre véhicule à l'atelier ou chez vous pour l'entretien, les vidanges, la recherche et la réparation de panne mécaniques et électroniques.
Nous proposons une gamme de pièces de rechange multimarques pour l'ensemble des interventions d'entretien courant telles que:
La vidange, le freinage, l'échappement, les pneumatiques ect..</p></br>
<p>Pour l'entretien de votre véhicule, rendez vous au garageVParrot.</p>

</div>
    <img src="assets/méca.jpg" alt="">
</div>

<div class="improvise" id="improvise">
    <img src="assets/rp.jpeg" alt="" id="imgImprovise">
    <div>
        <h2><b>Réparations</b></h2>
        
        <p><b>Mécanique</p> et <p>Carrosserie </b></p></br>
        Grâce à notre ancienneté dans le métier, nous avons pu acquérir le savoir-faire et les compétences nécessaires pour répondre efficacement aux besoins de nos clients.<br> Réactifs, nous sommes en mesure d’assurer une intervention rapide, tout en garantissant des prestations de qualité.</br> Le Garage Auto VParrot s’occupe de toute réparations mécanique et de la carrosserie-peinture de toutes les voitures et véhicules utilitaires légers, quelle que soit leur marque.<br> Nous prenons en charge les démarches auprès des assureurs et toutes nos réparations sont garanties 4 ans dans tout le réseau du Garage Auto VParrot.</br> 
        Confiez-nous votre véhicule en toute confiance, nous lui rendrons sa brillance d’origine !

    </div>
</div>
    <div class="overcome" id="overcome">
    <h2><strong>Nos voitures d'occasions</strong></h2>
    <h3>Notre garage vous propose aussi une large gamme de voitures d'occasions à prix défiant toute concurrence </h3><br>
    <img src="assets/vv.jpeg" alt="">
    </div>

</main>

<div class="pop-up" id="popup">
    <div class="pop-up-container">
    <h3>A ne pas manquer !<br />Inscrivez-vous à notre newsletter</h3>
    <div class="button-container">
        <input type="email" placeholder="please enter you email">
        <button>Soumettre</button>
</div>
    <i class="far fa-times-circle" id="closeBtn"></i>
    </div>
</div>


</body>