<nav id="navbar">
    <div class="nav-elements" id="nav-elements">
        <h3><a href="#"><img src="assets/logoVP1.jpg" class="logo"></a></h3>
        <ul class="nav-links">
            <li><a href="#adapt-title">Accueil</a></li>
            <li><a href="#improvise">Services</a></li>
            <li><a href="#overcome">Voitures</a></li>
            <li><a href="#register">S'enregistrer</a></li>
            <li><a href="connexion">Connexion</a></li>
        </ul>
    </div>
    <div id="icons"></div>
</nav> 
