<nav id="navbar">
    <div class="nav-elements" id="nav-elements">
        <h3><a href="#">lorem ipsum</a></h3>
        <ul class="nav-links">
            <li><a href="#adapt-title">Adapt</a></li>
            <li><a href="#improvise">Improvise</a></li>
            <li><a href="#overcome">Overcome</a></li>
        </ul>
    </div>
</nav>
