{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
</br>
</br>
</br>
</br>
</br>
    <h1>Créer un commentaire</h1>

    {{ include('admin_comment/_form.html.twig') }}

    <a href="{{ path('app_admin_comment_index') }}">Retour à la liste</a>
{% endblock %}
